{%block body%}
<section class="categories top">
    <div class="container">
      <div class="heading">
        <h1>Categories</h1>
      </div>

      <div class="content grid mtop">
        <div class="box">
          <h3>General</h3>
          <div class="img">
            <img src="https://source.unsplash.com/1600x900/?GeneralKnowledge" alt="">
          </div>
        </div>
        <div class="box">
          <h3>Science</h3>
          <div class="img">
            <img src="https://source.unsplash.com/1600x900/?GeneralKnowledge" alt="">
          </div>
        </div>
        <div class="box">
          <h3>Art</h3>
          <div class="img">
            <img src="https://source.unsplash.com/1600x900/?GeneralKnowledge" alt="">
          </div>
        </div>
        <div class="box">
          <h3>Social </h3>
          <div class="img">
            <img src="https://source.unsplash.com/1600x900/?GeneralKnowledge" alt="">
          </div>
        </div>
        <div class="box">
          <h3>Fun </h3>
          <div class="img">
            <img src="https://source.unsplash.com/1600x900/?GeneralKnowledge" alt="">
          </div>
        </div>
        <div class="box">
          <h3>Others</h3>
          <div class="img">
            <img src="https://source.unsplash.com/1600x900/?GeneralKnowledge" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  {%endblock%}