{%extends 'base.html'%}
{%block head%}
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}"/> -->
{%endblock%}

{%block body%}
<section class="categories ">
    <div class="container">
      <div class="heading">
        <h1 >Categories</h1>
      </div>
      <!--  item content grid -->
      <div class="content grid  mtop">
        <div class="box">
          <h3>General</h3>
          <div class="img">
            <img src="https://ouch-cdn2.icons8.com/amLU9XSZB6-IMPcThaQ7Wwf8h6WrcOKVTuVpxXb8Z-o/rs:fit:456:456/extend:false/wm:1:re:0:0:0.8/wmid:ouch/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvMjI1/L2NjNjUxYTQzLTE3/MmYtNDEwOC04NWU2/LWFkY2ZlYjljYTM4/NC5zdmc.png" alt="">
          </div>
        </div>
        <div class="box">
          <h3>Science</h3>
          <div class="img">
            <img src="https://ouch-cdn2.icons8.com/Jj9c1BSPqIrVjt9bbgIMIYON_Kr8hIlguF0DRrs41PY/rs:fit:456:456/extend:false/wm:1:re:0:0:0.8/wmid:ouch/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNDI4/LzExNTUyZTRlLTBh/ODAtNDQxYy1iN2I2/LTc3ZDI2YzE3ODI1/Ny5wbmc.png" alt="">
            <!-- <img src="" alt=""> -->
          </div>
        </div>
        <div class="box">
          <h3>Art</h3>
          <div class="img">
            <img src="https://ouch-cdn2.icons8.com/V-V7xBgKhL3FwZ4jUHDnYUtGYjQDeo_WRQ9ieY9fZdQ/rs:fit:603:456/extend:false/wm:1:re:0:0:0.8/wmid:ouch/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNzk1/LzM0ZmVlNDc2LTdk/MmYtNDg4Mi05NTcy/LTAyYmQxZjc4Yjk4/Ny5wbmc.png" alt="3D man sitting in front of laptop and plays guitar PNG, SVG" class="image-preview">
            <!-- <img src="https://icons8.com/illustrations/illustration/3d-casual-life-man-sitting-in-front-of-laptop-and-plays-guitar" alt=""> -->
          </div>
        </div>
        <div class="box">
          <h3>Social </h3>
          <div class="img">
            <!-- <img src="https://icons8.com/illustrations/illustration/coworking-students-standing-and-holding-textbooks" alt=""> -->
            <img src="https://ouch-cdn2.icons8.com/B_JobLRXSZtAF22yw2SUZI96maS7Xv4Wnl11Obt8bt8/rs:fit:391:456/extend:false/wm:1:re:0:0:0.8/wmid:ouch/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvNjYw/LzZiY2ZjNWQ0LTQ3/NGItNDcyMC04NzIx/LTQ4NTM1MDE0Mzkx/Yi5zdmc.png" alt="Students standing and holding textbooks PNG, SVG">
          </div>
        </div>
        <div class="box">
          <h3>Fun </h3>
          <div class="img">
            <!-- <img src="https://icons8.com/illustrations/illustration/sammy-children-play-with-cubes" alt=""> -->
            <img src="https://ouch-cdn2.icons8.com/a4PvczfUoE9HWjcp23bqVldW1oOYiEyijXrF50wK-VU/rs:fit:570:456/extend:false/wm:1:re:0:0:0.8/wmid:ouch/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvNTUx/Lzc3OTk4ZDkwLTYz/NWEtNGMyOS1hNzc0/LTQyNTYwOTMzN2Zh/MC5zdmc.png" alt="Children play with cubes PNG, SVG">
          </div>
        </div>
        <div class="box">
          <h3>Others</h3>
          <div class="img">
            <!-- <img src="https://icons8.com/illustrations/illustration/haze-learning-languages-in-the-app-1" alt=""> -->
            <img src="https://ouch-cdn2.icons8.com/S-q_edxaquxLLxbGAVR-EvVXbEZbThTkLPaa-iEXGm8/rs:fit:456:456/extend:false/wm:1:re:0:0:0.8/wmid:ouch/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNTUx/LzRhZWJiNGY4LWFm/NzEtNDJiZS1hODBk/LTVjYjBhYTkxNDli/ZS5wbmc.png" alt="Learning languages ​​in the app PNG, SVG" class="image-preview">
          </div>
        </div>
      </div>
    </div>
  </section>

  {%endblock%}