{%block body%}
<section class="categories top">
    <div class="container">
      <div class="heading">
        <h1>Categories</h1>
      </div>

      <div class="content grid mtop">
        <div class="box">
          <h3>General</h3>
          <div class="img">
            <img src="image/c2.jpg" alt="">
          </div>
        </div>
        <div class="box">
          <h3>Science</h3>
          <div class="img">
            <img src="image/c3.jpg" alt="">
          </div>
        </div>
        <div class="box">
          <h3>Art</h3>
          <div class="img">
            <img src="image/c4.jpg" alt="">
          </div>
        </div>
        <div class="box">
          <h3>Social </h3>
          <div class="img">
            <img src="image/c5.jpg" alt="">
          </div>
        </div>
        <div class="box">
          <h3>Fun </h3>
          <div class="img">
            <img src="image/c6.jpg" alt="">
          </div>
        </div>
        <div class="box">
          <h3>Others</h3>
          <div class="img">
            <img src="image/c7.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  {%endblock%}