{%extends 'base.html'%}
{%block head%}
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}"/> -->
{%endblock%}

{%block body%}

<footer>
  <div class="container">
    <div class="subscribe grid">
      <div class="box">
        <h2>Subscribe to Our Newsletter</h2>
        <p>Sign up for our e-mail to get latest news.</p>
      </div>
      <div class="box">
        <form name="submit-to-google-sheet">
        <div class="input flex">
          <input type="email" name="Email" placeholder="Your Email Address" required>
          <span id="submitSpan">sign up</span>
          <button id="btn"  class="hidden" >sub</button>
      </div>
      </form>
      </div>
      <div class="box">
        <h2>Follow Us on</h2>
        <ul>
          <li> <i class="fa fa-facebook"></i> </li>
          <li> <i class="fa fa-instagram"></i> </li>
          <li> <i class="fa fa-twitter"></i> </li>
          <li> <i class="fa fa-youtube"></i> </li>
        </ul>
      </div>
    </div>

    <hr>

    <div class="content grid">
      <div class="box">
        <h1>QUIZZ</h1>
        <h4>Nedd Help?</h4>
        <p>izzyabenabrown@gmail.com
          0123456789</p>
      </div>

      <div class="box">
        <div class="heading">
          <h2>Information</h2>
        </div>
        <ul>
          <li> Wishlist</li>
          <li> Contact Us</li>
          <li> About Us</li>
          <li> Privacy Policy</li>
          <li> Frequently Questions</li>
          <li> Categories</li>
        </ul>
      </div>
      <div class="box">
        <div class="heading">
          <h2>Categories</h2>
        </div>
        <ul>
          <li> Fun</li>
          <li>General</li>
          <li> Science</li>
          <li> Art</li>
          <li> Social</li>
        </ul>
      </div>
      <div class="box">
        <div class="heading">
          <h2>About Us</h2>
        </div>
        <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>

    <hr>

    <div class="items">
      <div class="legal">
        <p>Copyright (c) 2023 Copyright Holder All Rights Reserved.</p>
      </div>
      <!-- <div class="item content grid">
        <div class="img">
          <img src="https://img.icons8.com/color/48/000000/mastercard.png" />
        </div>
        <div class="img">
          <img src="https://img.icons8.com/color/48/000000/paypal.png" />
        </div>
        <div class="img">
          <img src="https://img.icons8.com/fluency/48/000000/visa.png" />
        </div>
        <div class="img">
          <img src="https://img.icons8.com/color/48/000000/amex.png" />
        </div>
      </div> -->
    </div>
  </div>
</footer>

<script>

  const scriptURL = 'https://script.google.com/macros/s/AKfycbzWxARHNujCAnsZhUiK_FWdm6nodsGKm4dplFzdBgkTCwBuUuNopFbAR6xxiXasIHX0Lw/exec'
  const form = document.forms['submit-to-google-sheet']
  
  const submitSpan = document.getElementById('submitSpan');
  const button = document.getElementById('btn')
  submitSpan.addEventListener('click', function() {
    button.click();
    button.disabled=true
  });

  form.addEventListener('submit', e => {
    e.preventDefault()
    fetch(scriptURL, { method: 'POST', body: new FormData(form)})
      .then(response => {alert('Success!', response);submitSpan.disabled=false;})
      .catch(error => {alert('Error!', error.message);submitSpan.disabled=false;})
  })
</script>
{%endblock%}
