{%extends 'base.html'%}
{%block head%}
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}"/> -->
{%endblock%}


{%block body%}


  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>


  <section class="">
    <div id="head" class="flex-center">
      <div class="left">
        <span>QUIZZ</span>
        <!-- <span id="username"></span>  -->
      </div>
      <div class="right flex-between">
        <div class="icon">
          <i class="fa-brands fa-facebook-square"></i>
          <i class="fa-brands fa-twitter-square"></i>
          <i class="fa-brands fa-discord"></i>
        </div>
        <div class="login">
          <a id="username" class="btn btn-primary">LOGIN</a>
        </div>
      </div>
    </div>
    <header class="header">
      <div class="container">
        <nav class="navbar">
          <div class="logo">
            <div class="img flex">
              <h2>QUIZZ </h2>
            </div>
          </div>
          <ul class="nav-menu">
            <li class="nav-item">
              <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Services</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Blog</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Contact</a>
            </li>
          </ul>
          <div class="cart">
            <i class="fa-regular fa-bell"></i>
            <!-- <i class="fa fa-heart-o"></i> -->
            <span>3</span>
          </div>
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </nav>
      </div>
    </header>
    <script>
      const hamburger = document.querySelector(".hamburger");
      const navMenu = document.querySelector(".nav-menu");
  
      hamburger.addEventListener("click", mobileMenu);
  
      function mobileMenu() {
        hamburger.classList.toggle("active");
        navMenu.classList.toggle("active");
      }
    </script>
  </section>


    <script defer>
        let x = document.getElementById('username')
        // console.log(x)
        fetch('/api/users/me')
      .then(response => response.json())
      .then(data => {
        // Handle the response data
        // console.log(data);
        if(data){
          x.innerHTML=data.username
        }
        
        
      })
      .catch(error => {
        // Handle any errors
        console.error(error);
      });
    
    </script>

{%endblock%}