{%block body%}
<section class="blog top">
    <div class="container">
        <div class="heading">
            <h1>Latest quizzes</h1>
        </div>

        <div class="content grid mtop">
            {% for quiz in quizzes[-6:] %}
            <div class="box">
                <img src="{{ quiz.image }}" alt="">
                <div class="text">
                    <h4> {{ quiz.title }}</h4>
                    <p> <i></i>Number of Questions: {{ quiz.number_of_questions }}</p>
                    <p> <i></i>Categories: {% for category in quiz.categories %}
                        {{ category }}<br>
                    {% endfor %}
                </p>
                    <div class="link">
                        <a href="/quiz/{{ loop.index }}" class="btn btn-primary">Take Quiz</a>
                        <span>By admin, Jun 05, 2023</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
   

</section>

{%endblock%}