{%extends 'base.html'%}

{%block title%}
Quiz App - Home
{%endblock%}





{%block body%}


{%include 'components/header.html'%}

<section class="home">
    <div class="container">
      <div class="left">
        <a>HOME Quizzes</a>
        <h1>The Best <br>Quiz Site </h1>
        <button class="btn btn-primary"><a href="/quiz" style="background-color: transparent;">Take Now</a></button>
      </div>
    </div>
  </section>


  {%include 'components/catagories.html'%}
  {%include 'components/latest.html'%}



    {%include 'components/footer.html'%}
    {%endblock%}