<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

{%extends 'base.html'%}

{%block title%}
Quiz App - Leaderboard
{%endblock%}


{%block body%}


{%include 'components/header.html'%}


    <div class="container vh-80">
        <h1>Leaderboard</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in leaderboard %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.score }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{%include 'components/footer.html'%}
{%endblock%}