<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

{%extends 'base.html'%}

{%block title%}
Quiz App - Leaderboard
{%endblock%}


{%block body%}


{%include 'components/header.html'%}

<br/>
<br/>
<section class="blog full">
    <div class="container ">
        <h1>Leaderboard</h1>
    <table class="table">
        <tr>
            <th>Email</th>
            <th>Quiz ID</th>
            <th>Score</th>
            <th>Time</th>
        </tr>
        {% for item in leaderboard_items %}
        <tr>
            <td>{{ item.email }}</td>
            <td>{{ item.quiz_id }}</td>
            <td>{{ item.score }}</td>
            <td>{{ item.time }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</section>


{%include 'components/footer.html'%}
{%endblock%}