<head>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
</head>

{%extends 'base.html'%}

{%block title%}
Quiz App - Leaderboard
{%endblock%}


{%block body%}


{%include 'components/header.html'%}

<br/>
<br/>
<section class="blog full">
    <div class="container ">
        <h1>Leaderboard</h1>
        <div class="table-container">
            <table class="table">
                <tr>
                    <th><i class="fas fa-envelope-open"></i> Email</th>
                    <!-- <th><i class="fa-solid fa-arrows-to-dot"></i> Title</th> -->
                    <th><i class="fa-solid fa-hashtag"></i> Quiz ID</th>
                    <th><i class="fa-solid fa-arrows-to-dot"></i> Score</th>
                    <th><i class="fa-regular fa-clock"></i> Time</th>
                </tr>
                {% for item in leaderboard_items %}
                <tr>
                    <td>{{ item.email }}</td>
                    <!-- <td>{{ item.title }}</td> -->
                    <td><a href="/quiz/{{ item.quiz_id }}">{{ item.quiz_id }}</a></td>
                    <td>{{ item.score }}%</td>
                    <td>{{ item.time }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>
</section>


{%include 'components/footer.html'%}
{%endblock%}

<style>
    .table-container {
    overflow-x: auto;
    max-width: 100%;
}

</style>