body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.containerr {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hide {
  display: none !important;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.btn {
  padding: 10px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}

h1 {
  margin-top: 0;
}

h2 {
  margin-top: 20px;
}

#score {
  font-weight: bold;
}
.correct{
background-color: #45a049 !important;
}
.wrong{
  background-color: tomato !important;
}